* {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container div, .nav-container nav {
    /* margin-left: 50px;
    margin-right: 50px; */

    padding-left: 50px;
    padding-right: 50px;
}

.nav-links li {
    display: inline-block;
    padding: 20px;
}

.nav-links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* (BREAK) */

.header-container {
    display: flex;
    /* margin: 55px; */
    padding: 110px;
}

.header-child1 {
    flex: 1;
}

.header-child2 {
    flex: 1;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.header-child1 h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-child1 p {
    font-size: 18px;
    color: #E5E7EB;
}


/* --- */
/* Body */

body {
    background-color: white;
}

.body-h1 {
    padding: 50px;
    text-align: center;
}

/* .body-container {
} */

.box {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 5px #3882F6 solid;
    border-radius: 25px;
}

.subtext {
    font-size: 18px;
    color: black;
}

.subtext-box {
    width: 200px;
    height: 150px;
    border: 5px white solid;
    
}

.box-container {
    display: flex;
    /* justify-content: space-around; */
    gap: 100px;
    justify-content: center;
}

.subtext-container {
    display: flex;
    gap: 100px;
    justify-content: center;
}


/* --- */
/* Footer */

footer {
    background-color: #E5E7EB;
}

.quote-container {
    width: 80%;
    margin: auto;
    padding: 100px;

}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quoter {
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: right;
}

/* (BREAK) */

.blue-container {
    width: 65%;
    margin: 100px auto;
    background-color: #3882F6;

    display: flex;
}

.sign-up-sign {
    padding: 50px;
    color: white;
    width: 75%;
    font-size: 20px;

}

.sign-container {
    align-self: center;
    width: 25%;   
    text-align: center;
    padding: 50px;
}